*{
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-image: radial-gradient( circle 592px at 48.2% 50%,  rgba(255,255,249,0.6) 0%, rgba(160,199,254,1) 74.6% );
}

img {
    max-width: 100%;
}

h1,
h2,
h3 {
    color: rgb(48, 48, 48);
    font-family: 'Noto Sans', sans-serif;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.9rem;
}

h3 {
    font-size: 1.rem;
}

.card {
    height: 380px;
    width: 280px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.93);
}

#card-current{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 2fr 1fr;
}

#card-current > * {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#input-container {
    flex-direction: row;
}

#input-location {
    height: 27px;
}

#btn-search:hover {
    cursor: pointer;
}